@charset "utf-8";


#rwk tr.team
{
   font-size: 100%;
   font-weight: bold;
}

#rwk tr.match
{
   font-size: 90%;
}

#rwk tr.match td.name:before
{
   content: " » ";
}

#rwk th.chkbox
{
   width: 20px;
}

#rwk th.name
{
   text-align: left;
}

#rwk th.publish,
#rwk td.publish
{
   width: 50px;
   text-align: center;
}

#rwk th.order,
#rwk td.order
{
   width: 50px;
   text-align: center;
}
