<html>
   <body bgcolor="#FFFFFF">
   <pre>
      This folder holds the files for the view TeamList.

      /site/views/teamlist/view.html.php
      This file is the entry point for the view TeamList. It should declare the class RWKViewTeamList. This class must extend the base class JView.
      The .html section of the filename is related to the format the view will be loaded in.
      For example, if the format URL parameter is set to format=feed, the file view.feed.php will be loaded.
   </pre>
   </body>
</html>

